<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Điểm danh sinh viên ngày hôm nay </title>
  <link href="{{ url_for('static', filename='styles/admin.css') }}" rel="stylesheet" type="text/css" />
</head>

<body>
  <div class="container">
    <section class="attendance">
      <div class="attendance-list">
        <button class="home_button" onclick="window.location.href='/'">
          Home
        </button>
        <h1>Điểm danh sinh viên ngày hôm nay </h1>
        <button onclick="window.location.href='/download_attendance'">Download Excel</button>
        <table class="table">
          <thead>
            <tr>
              <th>ID</th>
              <th>Tên</th>
              <th>Chuyên Ngành</th>
              <th>Tổng số lần điểm danh</th>
              <th>Thời gian điểm danh lần cuối</th>
              <th>Year</th>
            </tr>
          </thead>
          {% for i in range(data|length) %}
          <tbody>
            <tr>
              <td>{{ data[i][0]['id'] }}</td>
              <td>{{ data[i][0]['name'] }}</td>
              <td>{{ data[i][0]['major'] }}</td>
              <td>{{ data[i][0]['total_attendance'] }}</td>
              <td>{{ data[i][0]['last_attendance_time'] }}</td>
              <td>{{ data[i][0]['year'] }}</td>
            </tr>
          </tbody>
          {% endfor %}
        </table>
      </div>
    </section>
  </div>
</body>

</html>